@font-face {
  src: url("fonts/Maplestory Bold.ttf");
  font-family: "Bold";
}

@font-face {
  src: url("fonts/Maplestory Light.ttf");
  font-family: "Light";
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url('img/배경.jpg');
  background-repeat: no-repeat;
  font-family: "Light";
  height: 100vh;
  width: 100%;
}

.wrap {
  position: relative;
  min-height: 100%;
}

.header {
  width: 180px;
  background-color: white;
  opacity: 0.5;
  margin: auto;
  padding: 8px 12px;
  text-align: center;
}

h1 {
  font-family: "Bold";
  font-size: 25px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.4rem;
}


.speech-bubble {
  font-size: 1rem;
  position: relative;
  top: 50px;
  background: #aef9c8;
  border-radius: .4em;
  line-height: 30px;
  text-align: center;
  display: none;

}


.speech-bubble input {
  font-family: "Light";
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
}

/* 내가 한거 아님 */
.contents {
  padding: 20px 30px ;
}
.tabs {
  display: flex;
  justify-content: center;
}

.tabs .tab {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  width: 90px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(20, 19, 19);
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid black;
}

.max {
  display: flex; justify-content: space-around; padding-top:12px;
}
#tab1 > div:nth-child(2) > button > img{
 width: 50px;
 background-color: transparent;
}
#tab1 > div:nth-child(3) > button > img{
  width: 50px;
  background-color: transparent;
}
#tab1 > div:nth-child(4) > button > img{
  width: 50px;
  background-color: transparent;
}
.content {
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.items {
  display: none;
  padding: 20px 12px ;
  background-color: white;
  position: relative;
  width: 50vh;
  text-align: center;
}

.items p {
  padding-top: 10px;
}

#tab3 img {
  padding-top: 15px;
}

#op3 {
  margin-top: 15px;
}

/*
.items::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 10;
  width: 90px;
  height: 4px;
  background-color: white;
}

.items:nth-child(2)::before {
  left: 210px;
  top: -4px;
  background-color: white;
}

.items:nth-child(3)::before {
  left: 288px;
  top: -4px;
  background-color: white;
}
*/
.items.active {
  display: inline-block;
}

.bt {
  font-family: 'Light';
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  background-color: #d1cece; 
  height: 35px; 
  width: 100px; 
  padding: 0px 24px;
    border-radius: 5px;
}

.bt:nth-child(1) {
  border: 2px solid green; 
}
.bt:nth-child(2) {
  border: 2px solid black; 
}
.bt:nth-child(3){
  border: 2px solid red; 
}

/*ㅇㅇㅇ */

.ft {
  display: flex;
  justify-content: space-between;
  background-color: #383941;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;

}
.ft-item1 {
  font-family: none;
  font-size: 13px;
  text-align: center;
  line-height: 2;
  padding: 12px 24px;
}

.ft-item2 {
  display: flex;
  width: 200px;
}

.ft-item2 a {
  margin: auto;
}

.ft-item2 img {
  width: 36px;
}


@media (max-width: 1200px) {
.header  {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
.header{
    max-width: 960px;
  }
}
@media (max-width: 768px){
.header {
    max-width: 720px;
  }
}

@media (max-width: 576px){
.header {
    max-width: 540px;
  }
}

@media (max-width: 500px){

  h2 {
    font-size: 1.2rem;
  }

  .items {
    width: 40vh;
  }
  .ft-item1{
    font-size: 12px;
    margin: auto;
  }
  .ft-item2{
    display: none;
  }
}

@media (max-width: 375px){
  .contents{

  }
}
