@font-face {
  src: url("fonts/Maplestory Bold.ttf");
  font-family: "Bold";
}

@font-face {
  src: url("fonts/Maplestory Light.ttf");
  font-family: "Light";
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url('img/배경.jpg');
  background-repeat: no-repeat;
  font-family: "Light";
  height: 100vh;
  width: 100%;
}

.wrap {
  position: relative;
  min-height: 100%;
}

h1 {
  font-family: "Bold";
  font-size: 25px;
}

.header {
  width: 180px;
  background-color: white;
  opacity: 0.5;
  margin: auto;
  padding: 8px 12px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.bt {
  border: none;
  font-family: 'Light';
  font-size: 24px;
  cursor: pointer;
  position: relative;
  top:20px;
  text-align: center;
  background-color: transparent;
}

.speech-bubble {
  font-size: 1.1rem;
  position: relative;
  top: 50px;
  background: #aef9c8;
  border-radius: .4em;
  line-height: 30px;
  text-align: center;
  display: none;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #aef9c8;
  border-top: 0;
  margin-left: -20px;
  margin-top: -20px;
}

/* 내가 한거 아님 */
.contents {
  padding: 20px 30px ;
}
.tabs {
  display: flex;
}

.tabs .tab {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  width: 90px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(20, 19, 19);
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid black;
}


#tab1 > div:nth-child(2) > button > img{
 width: 50px;
}
#tab1 > div:nth-child(3) > button > img{
  width: 50px;
}
#tab1 > div:nth-child(4) > button > img{
  width: 50px;
}
.content {
  border: 2px solid black;
}

.items {
  display: none;
  padding: 20px 12px ;
  background-color: white;
  position: relative;
  height: 60vh;
  text-align: center;
}

.items::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 90px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.items:nth-child(2)::before {
  left: 94px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}

.items:nth-child(3)::before {
  left: 188px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}

.items.active {
  display: inline-block;
}

/*ㅇㅇㅇ */

.ft {
  display: flex;
  justify-content: space-between;
  background-color: #383941;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;

}
.ft-item1 {
  font-family: none;
  font-size: 13px;
  text-align: center;
  line-height: 2;
  padding: 12px 24px;
}

.ft-item2 {
  display: flex;
  margin: auto;
  width: 400px;
}


@media (max-width: 1200px) {
.header  {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
.header{
    max-width: 960px;
  }
}
@media (max-width: 768px){
.header {
    max-width: 720px;
  }
}

@media (max-width: 576px){
.header {
    max-width: 540px;
  }
}

@media (max-width: 500px){
  .ft-item1{
    font-size: 8px;
    margin: auto;
  }
  .ft-item2{
    display: none;
  }
}

@media (max-width: 375px){
  .contents{

  }
}
